@model IEnumerable<Sjx_Mvc.ViewModels.PaymentViewModel>
@{
 <link href="~/asset/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <h3 class="text-center">Complete Payment</h3>
    }


    <section class="content">
        <div class="row">
            <div class="col-md-12">


                <div class="card" style="margin-left:17rem">
                    <div class="card-header">

                        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                         

                            <form asp-action="CompletePayment" asp-controller="Payment" class="form-inline ml-3 navbar-nav" method="get">
                               
                            </form>



                        </nav>


                    </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped responsive-table">
                            <thead>
                                <tr>
                                    <th class="text-center">S/N</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Email(s)</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">TrsRef</th>
                                    <th class="text-center">Status</th>


                                </tr>

                            </thead>
                            <tbody id="quotesRow">

                                @if (Model.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">No Record Found</td>
                                    </tr>
                                }
                                else
                                {
                                    int count = 0;
                                    foreach (var user in Model)
                                    {
                                        count++;
                                        <tr class="odd gradeX">

                                            <td style="width:5%">@count</td>
                                            <td style="width:20%" class="text-center">@user.FirstName @user.LastName</td>
                                            <td style="width:20%" class="text-center">@user.Email </td>
                                            <td style="width:20%" class="text-center">@Convert.ToDouble(user.Charges)</td>
                                            <td style="width:15%" class="text-center">@user.TrsRef</td>
                                            <td style="width:15%; color:red" class="text-center">@user.Status</td>

                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                      


                


                        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
                        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>







