@model IEnumerable<Sjx_Mvc.ViewModels.BikeViewModel>
@{
    ViewData["Title"] = "Bike List";
}


<link href="~/css/site.css" rel="stylesheet" />
<h1 class="text-center">Bikes</h1>



<section class="content">
    <div style="margin-left: 16rem">
    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped responsive-table">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Bike Number</th>
                                <th>Rider Name</th>
                                <th>Registration</th>
                                <th>Date Of Purchase</th>
                                <th>Colour</th>
                                <th>Created Date</th>
                                <th>Date of Maintenance</th>
                            </tr>

                        </thead>
                        <tbody id="quotesRow">

                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="7" class="text-center">No Record Found</td>
                                </tr>
                            }
                            else

                            {
                                int count = 0;
                                foreach (var user in Model)

                                {
                                  count++;

                        <tr class="odd gradeX">
                            <td style="width:5%">@count</td>
                            <td style="width:15%">@user.BikeNo</td>
                            <td style="width:10%">@user.RidersName </td>
                            <td style="width:10%">@user.Registration</td>
                            <td style="width:20%">@user.dateofpurchase </td>
                            <td style="width:10%">@user.colour </td>
                            <td style="width:30%">@user.CreatedAt</td>
                            <td style="width:45%">@user.DueDate</td>
                            <td>
                            </td>
                        </tr>
                            }
                            }

                            </tbody>

                        </table>
                    @*asp-route-Email="@user.Email.ToString()"*@


                    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>*@

                    @*<script src="~/plugins/popper/popper.js"></script>
                        <script src="~/plugins/popper/popper-utils.js"></script>*@
                    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
                    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
        </div>
    <!-- /.row -->
</section>





<script>
    //$(document).ready(function () {
    //    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    //});
    $(function () {
        $("#example").dataTable();
    })
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });


    $(document).ready(function () {
        $('#searchTerm').keydown(function () {
            var searchTerm = $(this).val();
            var url = 'Account/GetAllUsers?searchTerm='

            $.ajax({
                type: "Post",
                url: url + searchTerm,
                contentType: "html",
                success: function (response) {
                    $("#quotesRow").html(response);
                }
            })
        })

    })

    @*function exported(e) {
        debugger
        $.ajax({
            type: "POST",
            url: '@Url.Action("ExportListUsingEPPlus", "Account")', //call your controller and action
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function (data) {

            //get the file name for download
            if (data.fileName != "") {
                //use window.location.href for redirect to download action for download the file

                window.location.href = "@Url.RouteUrl(new { Controller = "Account", Action = "Download" })/?fileName=" + data.fileName;

            }
        });*@
    }
</script>


